/**/
div.c9 {
    margin-top: 3em
    }
p.c8 {
    font-size: small
    }
p.c7 {
    text-align: left
    }
p.c6 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 2.5em
    }
span.c5 {
    font-size: smaller
    }
span.c4 {
    font-size: larger
    }
span.c3 {
    font-size: x-large
    }
p.c2 {
    font-size: 3em
    }
img.c1 {
    width: 80%;
    height: auto
    }
/**/